.error {
	margin-top: 3px;
	color: #c92400;
	font-size: 1.4rem;
}

.input {
	font-size: 1.8rem;
	border: none;
	border: 1px solid #cacccd;
	flex-grow: 1;
	padding: 1.2rem;
	font-weight: 300;
	margin-right: 3.2rem;
}

.input-error {
	border-color: #c92400;
}

.input-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: 4.8rem;
}

.button {
	font-size: 1.8rem;
	padding-left: 5.6rem;
	padding-right: 5.6rem;
	border-radius: 10px;
}
