@import '../settings';

.error {
	margin-top: 3px;
	color: $error;
	font-size: 1.4rem;
}

.input {
	font-size: 1.8rem;
	border: none;
	border-bottom: 1px solid $blue;
	flex-grow: 1;
	padding: 1.2rem;
	font-weight: 300;
	margin-right: 3.2rem;
}

.inputError {
	border-color: $error;
}

.inputGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: 4.8rem;
}

.button {
	font-size: 1.8rem;
	padding-left: 5.6rem;
	padding-right: 5.6rem;
	background: $blue;
	color: $white;
}
