@import url('https://fonts.googleapis.com/css?family=Karla'); // imports the karla font from google fonts

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 62.5%; // Sets 1rem and 1em to 10 px
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', Helvetica, Arial, sans-serif;
	font-size: $m-size;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}
